<ion-popover-view class="pop-modal" style="z-index: 21000;">
    <ion-header-bar class="bar bar-default">
        <h1 class="title">
            <i class="icon ion-android-arrow-back"></i> Finding Courier
        </h1>
        <!-- <button class="button button-clear button-primary"
        ng-click="closeLocPopover()">
            <i class="icon ion-close-circled" style="color:#cccccc;"></i>
        </button> -->
    </ion-header-bar>
    <ion-content>
        <div class="col-12">
            <div class="col-12" ng-hide="true">
                <div class="col-12 blink-text">
                    <div class="col-12 margin-b-20">
                        Finding nearest available courier...
                    </div>
                </div>
                <div class="pad-h-15 margin-t-20">
                    <button class="button button-block button-primary">
                      <i class="icon ion-close-round"></i>&nbsp;CANCEL ORDER REQUEST
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-popover-view>
