<ion-popover-view class="pop-modal">
	<ion-header-bar>
	  	<h1 class="title">Payment</h1>
		<button class="button button-clear button-primary" 
		ng-click="closePopover()">
		  	<i class="icon ion-close-circled" style="color:#cccccc;"></i>
		</button>
	</ion-header-bar>
	<ion-content>
	  	<form>
	  		<div class="form-cont margin-b-10 pad-t-20">
			    <div class="group">
			        <select class="no-border" ng-model="a_payment.account" ng-options="acc.id as acc.account for acc in accounts">
			            <option value="" disabled selected hidden>
			                --Select Account--
			            </option>
			        </select>
			        <span class="highlight"></span>
			        <span class="bar"></span>
			        <label class="top--10">Account</label>
			        <!-- <validation-errors field="site" valerrors="validation_errors">
			        </validation-errors> -->
			    </div>
			 </div>
			 <div class="form-cont margin-b-10 pad-t-10">
			    <div class="group">
			        <input type="number" required
			               placeholder="Enter the amount"
			               name="amount" 
			               ng-model="a_payment.amount">
			        <span class="highlight"></span>
			        <span class="bar"></span>
			        <label>Amount</label>
			        <!-- <validation-errors field="sub_location" valerrors="validation_errors">
			        </validation-errors> -->
			    </div>
			</div>
			<div class="form-cont margin-b-0 pad-t-5">
			    <button type="button" class="button button-block button-balanced"
			    ng-click="addPayment()"
			    style="margin-top: -10px;min-height: 40px;padding:0 8px;">
			        <i class="icon ion-card">  SAVE PAYMENT </i>
			    </button>
			</div>
	  	</form>
	</ion-content>
</ion-popover-view>