<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced bar-danger">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <!-- <button class="button button-positive button-small" ng-click="synchronize()" ng-if="syncButtonEnabled">
                    <i class="icon ion-android-sync"> {{syncButtonText}}</i>
                </button> -->
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="survey-content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-green side-bar-header">
            <div class="col-12">
              <div class="logo-icon col-12 sidebar-icon">
                  <div class="icon-cont col-4 pad-l-3">
                      <i class="icon ion-person"></i>
                  </div>
                  <div class="col-8 sidebar-logout">
                        <div class="col-12">
                            <span><small>{{user.first_name}} {{user.last_name}}</small></span>
                        </div>
                        <div class="col-12" style="font-size: 0.9rem;">
                            <small>
                                {{user.email}}
                            </small>
                        </div>
                  </div>
              </div>
              <div class="sidebar-details col-11 inline-block">
                  <div class="col-xs-12"><small>MENU</small></div>
              </div>
            </div>
        </ion-header-bar>
        <ion-content style="position:relative;top:55px;display: inline;" class="col-x-12">
            <ion-list>
                <div class="menunav">
                    <div class="rest">
                        <ion-item ui-sref-active="active" menu-close ui-sref="app.gis" class="list-grow-animation" >
                            <i class="icon ion-speedometer ion-left text-success"></i>
                            &emsp;GIS
                        </ion-item>
                        <ion-item ui-sref-active="active" menu-close ui-sref="app.orders" class="list-grow-animation">
                            <i class="icon ion-bag ion-left text-danger"></i>
                            &emsp;{{user.user_type === 'CUSTOMER' ? 'My Orders' : 'My Deliveries' }}
                        </ion-item>
                        <ion-item menu-close ng-click="logout()">
                            <i class="icon ion-log-out text-primary"> </i>&emsp;Logout
                        </ion-item>
                        <!-- <ion-item menu-close ng-click="update()">
                            <i class="icon ion-android-sync text-warning"> </i>&emsp;Update
                        </ion-item> -->
                    </div>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
