<div class="form-cont margin-b-0 {{field.class}}" ng-repeat="field in itemFields">
    <div class="group" ng-if="(field.type === 'text' || field.type === 'number' || field.type === 'email')">
        <input type="{{field.type}}" required
               placeholder="Enter the {{field.verbous_name}}"
               name="{{field.name}}" 
               ng-model="an_item[field.name]"
               ng-readonly="field.readonly"
               ng-change="setTotal()">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label ng-class="{'top--15 text-primary': field.readonly}">{{field.verbous_name}}</label>
        <!-- <validation-errors field="sub_location" valerrors="validation_errors">
        </validation-errors> -->
    </div>
    <div class="group" ng-if="field.type === 'select'">
        <select class="no-border" ng-model="an_item[field.name]" ng-options="item.id as item.name for item in sales_items"
        ng-change="setItemPrice()">
            <option value="" disabled selected hidden>
                --Select {{field.verbous_name}}--
            </option>
        </select>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="top--10">{{field.verbous_name}}</label>
        <!-- <validation-errors field="site" valerrors="validation_errors">
        </validation-errors> -->
    </div>
</div>
<div class="form-cont col-6 margin-b-0">
    <button type="button" class="button button-block button-balanced" 
    ng-click="addItem()"
    style="margin-top: -10px;min-height: 40px;padding:0 8px;">
        <i class="icon ion-android-cart">  SAVE ITEM </i>
    </button>
</div>