<ion-view view-title="ORDER DETAILS" >
    <ion-content>
        <div class="col-12">
            <div style="width: 100%;margin-top:0;"></div>
            <div map-lazy-load="https://maps.google.com/maps/api/js"
                map-lazy-load-params="{{googleMapsUrl}}">
                <!-- Retunr if zooming doesn't work -->
                <!-- zoom="17" -->
                <ng-map style="height: 47.5vh;" zoom-to-include-markers="auto"
                geo-callback="callbackFunc('you')">
                    <marker position="{{latLong}}" animation="DROP" centered="true"
                    draggable="false"
                    icon="{ url:'img/destination.png', scaledSize:[30,32], origin: [0,0], anchor: [16,40] }">
                    </marker>
                    <marker position="{{picklng}}" animation="DROP" centered="true"
                    draggable="false" ng-if="picklng"
                    icon="{ url: 'img/map_markers/yellow_MarkerP.png'}">
                    </marker>
                    <marker position="{{latlng}}" animation="DROP" centered="true"
                    draggable="false" ng-if="latlng"
                    icon="{ url:'img/map_markers/darkgreen_MarkerD.png'}">
                    </marker>
                    <directions
                        polyline-options='{strokeColor: "red"}'
                        waypoints="{{way_points}}"
                        suppress-markers="true"
                        panel="directions-panel"
                        travel-mode="DRIVING"
                        draggable="false"
                        origin="{{latLong}}"
                        destination="{{latlng}}">
                    </directions>
                </ng-map>
            </div>
        </div>
    </ion-content>
    <div class="col-12 pad-h-20 gisbtn-cont no-flex" ng-if="way_points">
        <div class="col-12 pad-v-5 pad-h-15 no-flex" ng-if="user.user_type === 'CUSTOMER'"
        style="background-color: #edecec;margin-left: -20px;width:110%;">
            <small ng-if="currOrderStatus === 'ACCEPTED' || order.status === 'ACCEPTED'">
                Meet Courier at Pickup Location.
            </small>
            <small ng-if="currOrderStatus === 'PAID' || order.status === 'PAID'">
                Delivery is on its way to destination.
            </small>
            <small ng-if="currOrderStatus === 'DELIVERED' || order.status === 'DELIVERED'">
                <i class="icon ion-checkmark-round text-success"></i> Order delivered successfully
            </small>
            <span class="status-label status-label-balanced pull-right">
                <small>{{ order.status}}</small>
            </span>
        </div>
        <div class="col-12 pad-b-10 pad-t-10 border-bottom">
            <div class="col-12">
                <span class="text-danger">
                    <small>{{ user.user_type === 'COURIER' ? 'Cutomer' : 'Courier' }}</small>
                </span>
            </div>
            <div class="col-12">
                <span class="text-muted">
                    <small>{{ user.user_type === 'COURIER' ? order.customer_name :
                        order.courier_name}}
                        <span>| <small>{{user.user_type === 'COURIER' ? 'Receive' : 'Pay'}}
                        {{order.amount || 1500 | currency: 'Kshs '}}</small></span>
                    </small>
                </span>
            </div>
        </div>
        <div class="col-12 pad-b-10 border-bottom">
            <div class="col-12">
                <span class="text-danger">
                    <small>Pickup Location</small>
                </span>
            </div>
            <div class="col-12">
                <span class="text-muted">
                    <small>{{order.source_name}}</small>
                </span>
            </div>
        </div>
        <div class="col-12 pad-b-10 border-bottom">
            <div class="col-12">
                <span class="text-danger">
                    <small>Drop off Location</small>
                </span>
            </div>
            <div class="col-12">
                <span class="text-muted">
                    <small>{{order.destination_name}}</small>
                </span>
            </div>
        </div>
        <div class="col-12 pad-b-10 border-bottom">
            <div class="col-12">
                <span class="text-danger">
                    <small>Item(s)</small>
                </span>
            </div>
            <div class="col-12">
                <span class="text-muted">
                    <small>{{order.goods_name}}</small>
                </span>
            </div>
            <div class="col-12">
                <span class="text-grey">
                      <small>{{order.goods_description}}</small>
                </span>
            </div>
        </div>
        <div class="col-12" ng-if="user.user_type === 'COURIER'">
            <button class="button-primary button button-block"
            ng-click="pickOrder()" ng-if="currOrderStatus === 'ACCEPTED'">
                PICK UP & RECEIVE KES 1,500.00
            </button>
            <button class="button-primary button button-block"
            ng-click="completeOrder()" ng-if="currOrderStatus === 'PAID'">
                <i class="icon ion-checkmark-round"></i> COMPLETE DELIVERY
            </button>
            <button class="button-primary button button-block"
            ui-sref="app.gis" ng-if="currOrderStatus === 'DELIVERED'">
                <span class="pull-left">BACK TO ACCEPTING ORDER</span>
                <span class="pull-right">
                    <i class="icon ion-arrow-right-a"></i>
                </span>
            </button>
        </div>
        <div class="col-12" ng-if="user.user_type === 'CUSTOMER' &&
        (currOrderStatus !== 'DELIVERED' || order.status !== 'DELIVERED')">
            <span class="label label-warning" style="color: #FFF;">
                MEET COURIER AT PICKUP LOCATION
            </span>
        </div>
        <div class="col-12" ng-if="user.user_type === 'CUSTOMER'">
            <button class="button-primary button button-block"
            ui-sref="app.gis" ng-if="currOrderStatus === 'DELIVERED'">
                <span class="pull-left">BACK TO MAKING MORE ORDERS</span>
                <span class="pull-right">
                    <i class="icon ion-arrow-right-a"></i>
                </span>
            </button>
        </div>
    </div>
</ion-view>
