<div class="sub-form col-12 margin-t-15">
    <div class="col-12 sub-form-title flex">
        <div class="col-8 grid-title pad-h-0">
          <div class="col-xs-12">
              Payments
          </div>
          <div class="col-xs-12 pad-t-5">
              <small>Total <b>KES {{pay_totals}}</b></small>
          </div>
      </div>
      <div class="col-2 grid-action">
          <button class="button button-balanced btn-rnd"
          ng-click="openPopover($event)">
              <i class="icon ion-plus-round"></i>
          </button>
      </div>
    </div>
    <div class="col-12 grid-lines" ng-repeat="pay in payments">
        <div class="line-details col-12 pad-l-15">
            <div class="col-12">
                {{pay.account_name}}
            </div>
            <div class="col-12">
                <div class="col-12">
                    <small>KES {{pay.amount}}</small>
                </div>
            </div>
        </div>
        <div class="line-action col-1">
            <a ng-click="removePay(pay)" class="delete-btn">
                <i class="icon ion-trash-a text-danger"></i>
            </a>
        </div>
    </div>
    <div class="col-12 grid-lines" ng-if="payments.length === 0 || !payments">
        <div class="line-details col-12 pad-h-15">
            <div class="col-12 alert alert-info">
                <small> <i class="icon ion-help-circled"></i>&nbsp;Payment yet to be received.</small>
            </div>
        </div>
    </div>
</div>