<ion-view title='Create Account' animation="fade-in-up">
  <ion-header-bar class="bar-stable bar-danger" style="height: 60px">
    <div class="col-12 login-title-cont">
      <div class="col-12 login-title">
            USER REGISTRATION DETAILS
      </div>
    </div>
  </ion-header-bar>
  <ion-content style="background-color: #edecec;">
    <ion-card>
    <div class="list padding pad-t-30 menu-cont" style="position: relative;margin-top: 12px;">
        <div class="login-menu">
            <div class="form-logo margin-b-15">
                <h4>CREATE USER ACCOUNT</h4>
            </div>
            <form class="padding">
                <div class="form-cont margin-b-5" ng-repeat="field in createFields">
                    <div class="group" ng-if="(field.type === 'text' || field.type === 'number' || field.type === 'email'
                    || field.type === 'password')">
                        <input type="{{field.type}}" required
                               placeholder="Enter the {{field.verbous_name}}"
                               name="{{field.name}}"
                               ng-model="register[field.name]">
                        <span class="highlight"></span>
                        <label>{{field.verbous_name}}</label>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>{{field.verbous_name}}</label>
                        <!-- <validation-errors field="sub_location" valerrors="validation_errors">
                        </validation-errors> -->
                    </div>
                    <div class="group" ng-if="field.type === 'select'">
                        <select class="no-border" ng-model="register[field.name]" ng-options="customer.id as customer.name for customer in customers">
                            <option value="" disabled selected hidden>
                                --Select {{field.verbous_name}}--
                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--10">{{field.verbous_name}}</label>
                        <!-- <validation-errors field="site" valerrors="validation_errors">
                        </validation-errors> -->
                    </div>
                </div>
                <div class="flex col-12">
                    <div class="form-cont col-6 margin-b-0">
                        <a class="button button-block button-primary"
                        ng-click="registerUser()">
                            <i class="icon ion-clipboard">&nbsp;SAVE</i>
                        </a>
                    </div>
                    <div class="form-cont col-6 margin-b-0">
                        <button class="button button-block button-default"
                        ng-click="cancelRegistration()">
                            CANCEL
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </ion-card>

  </ion-content>

</ion-view>
