<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">5/5 - Other Assistance Received</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form name="bg_form">

                <!-- Discovery of payment into account -->
                <!-- Cash payment -->
                <div class="col-xs-12 pad-h-20 margin-b-5" style="font-size: 1.15rem;">
                   In the <i>January to June {{currDate | date: 'yyyy'}}</i> has your household received any other assistance such as the following:
                </div>
                <!-- Discovery options -->
                 <div class="form-cont">
                    <ul class="checklist">
                        <li class="full-width" ng-repeat="type in assistanceTypes">
                             <span class="block-xs-2 margin-t-0">
                                 <input name="{{type.value}}" id="cb1" type="checkbox" class="lg-checker"
                                 style="width:18px;height:18px;margin-bottom: 12px;"
-                                 ng-true-value="1" ng-false-value="0" ng-model="survey[type.value]"/>
                             </span>
                             <span class="block-xs-10" style="font-size: 1.1rem;">{{type.name}}</span>
                             <validation-errors field="type.value" valerrors="validation_errors">
                        </validation-errors>
                         </li>
                    </ul>
                </div>
                <div class="form-cont pad-t-10 margin-b-0" ng-if="survey.other_assistance === 1">
                    <div class="group">
                        <input type="text" required="" ng-model="survey.other_specified_assistance" placeholder="Specify other assistance" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Specify Other Assistance</label>
                        <validation-errors field="other_specified_assistance" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <!-- Other comment -->
                 <div class="form-cont pad-t-10 margin-b-0">
                    <div class="group">
                        <input type="text" required="" ng-model="survey.other_comments" placeholder="Enter other comments you could have added" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Other Comments</label>
                        <validation-errors field="other_comments" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Other Assistance Received')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Other Assistance Received')">
                            COMPLETE <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
