<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">10/10 - Nutrition Status</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>

                <div class="col-xs-12 pad-h-20 margin-b-10">
                    Nutritional status of children from <b>6</b> to <b>59</b> months old
                </div>


                <div class="col-xs-12 pad-h-0 margin-b-10" ng-repeat="number in [1, 2, 3, 4, 5, 6]">
                    <div class="form-cont">
                        <div class="section-title">
                            <ul class="checklist">
                                <li class="full-width">
                                    <div class="col-xs-12 pad-h-0 margin-b-10">
                                        <div class="col-xs-6 ng-binding">
                                            Child # {{number}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-cont pad-t-10 margin-b-0">
                        <div class="group">
                            <input type="text" required="" ng-model="section['child_' + number + '_name']" placeholder="Enter the name of child" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Name of Child</label>
                            <validation-errors field="child_{{number}}_name" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                    <div class="form-cont">
                        <div class="group">
                            <select class="no-border" ng-model="section['child_' + number + '_gender']">
                                <option value="" disabled selected hidden>
                                    --Select Gender of child--
                                </option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Gender of Child </label>
                            <validation-errors field="child_{{number}}_gender" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                    <div class="form-cont pad-t-10 margin-b-0">
                        <div class="group">
                            <input type="number" string-to-number placeholder="Enter the age of child" ng-model="section['child_' + number + '_age']" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Child's Age in Months</label>
                            <validation-errors field="child_{{number}}_age" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>


                    <div class="form-cont">
                        <div class="group">
                            <div class="col-xs-12">
                                <span class="toggle-label">Does the child live in this household child?</span>
                                <label class="toggle toggle-balanced">
                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="section['child_' + number + '_lives_in_household']">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                                <validation-errors field="child_{{number}}_lives_in_household" valerrors="validation_errors">
                                </validation-errors>
                            </div>
                        </div>
                    </div>


                    <div class="form-cont pad-t-10 margin-b-0">
                        <div class="group">
                            <input type="number" string-to-number placeholder="Enter the child's MUAC in mm" ng-model="section['child_' + number + '_muac']" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Child's MUAC in millimeters (mm)</label>
                            <validation-errors field="child_{{number}}_muac" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>

                    <div class="form-cont">
                        <div class="group">
                            <br><br><br>
                            <select class="no-border pad-t-30" ng-model="section['child_' + number + '_illness']">
                                <option value="">None</option>
                                <option value="Diarrhea">Diarrhea</option>
                                <option value="Fever with chills like malaria">Fever with chills like malaria</option>
                                <option value="Fever with breathing difficulties">Fever with breathing difficulties</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>In the past two weeks, has the child suffered from any of the following illnesses? </label>
                            <validation-errors field="child_{{number}}_illness" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>





                <!-- End of section -->
                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Children Nutrition')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Children Nutrition')">
                            FINISH <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
