<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">4/10 - Stocks (Cereals & Legumes)</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>

                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Do you have food stocks?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="section.have_food_stock">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="have_food_stock" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 pad-t-20" ng-if="section.have_food_stock">
                    <div class="form-cont">
                        <div class="group">
                            <select class="no-border" ng-model="section.food_stock_sources">
                                <option value="" disabled selected hidden>
                                    --Select a food stock source--
                                </option>
                                <option value="Production">Production</option>
                                <option value="Aid">Aid</option>
                                <option value="Purchase">Purchase</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>What is the food stocks source?</label>
                            <validation-errors field="food_stock_sources" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                    <div class="form-cont pad-t-10">
                        <div class="group">
                            <input type="number" ng-model="section.days_stock_last"
                                   placeholder="How many days is stock expected to last">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>How many days is stock expected to last</label>
                            <validation-errors field="days_stock_last" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>
                <!-- End of checkboxes -->
                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Stocks')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Stocks')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
