<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">6/10 - Water Resources and Sources</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>
                <div class="col-xs-12 pad-h-20">
                    What have been the 3 major water sources for the household in the last 4 weeks
                </div>
                <!-- Resource one -->
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <select class="no-border" ng-model="section.water_source1">
                            <option value="" disabled selected hidden>
                                --Select a water resource--
                            </option>
                            <option value="Rivers">Rivers</option>
                            <option value="Traditional River Wells">Traditional River Wells</option>
                            <option value="Natural ponds">Natural ponds</option>
                            <option value="Pans and dams">Pans and dams</option>
                            <option value="Shallow wells">Shallow wells</option>
                            <option value="Boreholes">Boreholes</option>
                            <option value="Springs">Springs</option>
                            <option value="Lakes">Lakes</option>
                            <option value="Rock catchments">Rock catchments</option>
                            <option value="Piped water">Piped water</option>
                            <option value="Water tracking">Water tracking</option>
                            <option value="Other">Other</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>First water resource</label>
                        <validation-errors field="water_source1" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <select class="no-border" ng-model="section.water_source2">
                            <option value="">Not Applicable</option>
                            <option value="Rivers">Rivers</option>
                            <option value="Traditional River Wells">Traditional River Wells</option>
                            <option value="Natural ponds">Natural ponds</option>
                            <option value="Pans and dams">Pans and dams</option>
                            <option value="Shallow wells">Shallow wells</option>
                            <option value="Boreholes">Boreholes</option>
                            <option value="Springs">Springs</option>
                            <option value="Lakes">Lakes</option>
                            <option value="Rock catchments">Rock catchments</option>
                            <option value="Piped water">Piped water</option>
                            <option value="Water tracking">Water tracking</option>
                            <option value="Other">Other</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Second water resource</label>
                        <validation-errors field="water_source2" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <select class="no-border" ng-model="section.water_source3">
                            <option value="">Not Applicable</option>
                            <option value="Rivers">Rivers</option>
                            <option value="Traditional River Wells">Traditional River Wells</option>
                            <option value="Natural ponds">Natural ponds</option>
                            <option value="Pans and dams">Pans and dams</option>
                            <option value="Shallow wells">Shallow wells</option>
                            <option value="Boreholes">Boreholes</option>
                            <option value="Springs">Springs</option>
                            <option value="Lakes">Lakes</option>
                            <option value="Rock catchments">Rock catchments</option>
                            <option value="Piped water">Piped water</option>
                            <option value="Water tracking">Water tracking</option>
                            <option value="Other">Other</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Third water resource</label>
                        <validation-errors field="water_source3" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of resource one -->

                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Are/Is this the normal main source for this period/month of the year?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="section.normal_water_source">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="normal_water_source" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>


                <div class="form-cont" ng-if="!section.normal_water_source">
                    <div class="group">
                        <select class="no-border" ng-model="section.why_not_normal_water_source">
                            <option value="" disabled selected hidden>
                                --Select reason why they/it isn't normal main source--
                            </option>
                            <option value="Breakdown of water source">
                                Breakdown of water source
                            </option>
                            <option value="Drying up of source">
                                Drying up of source
                            </option>
                            <option value="Conflict/Insecurity">
                                Conflict/Insecurity
                            </option>
                            <option value="Water Quality">
                                Water Quality
                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Why Not?</label>
                        <validation-errors field="why_not_normal_water_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" ng-model="section.days_water_source_expected_to_last"
                               placeholder="Current main sources expected to last in months">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">How long are the current main sources of water expected to last (in months)?</label>
                        <validation-errors field="days_water_source_expected_to_last" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br><br><br>
                        <input type="number" placeholder="Distance to and from (return distance) the main source of water"
                               ng-model="section.distance_from_water_source">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Distance to and from (return distance) the main source of water (for households) in KMs</label>
                        <validation-errors field="distance_from_water_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-b-0 margin-b-10 pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" placeholder="Number of 20 litre jerry cans of water the household use per day"
                               ng-model="section.no_water_jerrycans">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Number of 20 litre jerrycans of water the household use per day</label>
                        <validation-errors field="no_water_jerrycans" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>


                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Does the household pay for Water?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="section.hh_pay_for_water">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="hh_pay_for_water" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>



                <div class="form-cont pad-t-10" ng-if="section.hh_pay_for_water">
                    <div class="group">
                        <br><br>
                        <input type="number" placeholder="What is the cost of a 20 L jerry can at the water source"
                               ng-model="section.jerrycans_cost">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">What is the cost of a 20 L jerrycan at the water source</label>
                        <validation-errors field="jerrycans_cost" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>



                <div class="form-cont pad-t-10">
                    <div class="group">
                        <br><br>
                        <input type="number" placeholder="Average normal household water consumption per day in Litres?"
                               ng-model="section.normal_hh_water_consumption">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Average normal household water consumption per day in Litres?</label>
                        <validation-errors field="normal_hh_water_consumption" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>


                <div class="form-cont pad-t-10">
                    <div class="group">
                        <br><br>
                        <input type="number" ng-model="section.cost_transport_jerrycan"
                               placeholder="What's transportation cost of a 20 L jerry can to the household">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">What's transportation cost of a 20 L jerrycan to the household?</label>
                        <validation-errors field="cost_transport_jerrycan" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>


                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Did you treat the water before drinking in the past 4 weeks?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="section.treat_water_before_drinking">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="treat_water_before_drinking" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>


                <div class="form-cont" ng-if="section.treat_water_before_drinking">
                    <div class="group">
                        <select class="no-border" ng-model="section.water_treatment_method_used">
                            <option value="" disabled selected hidden>
                                --Select water treating method used--
                            </option>
                            <option value="Boiling">
                                Boiling
                            </option>
                            <option value="Water treatment chemicals">
                                Water treatment chemicals
                            </option>
                            <option value="Filtration">
                                Filtration
                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Which method was used?</label>
                        <validation-errors field="water_treatment_method_used" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of section -->
                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Water Resources')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Water Resources')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
