<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">7/10 - Consumption based Coping Strategies</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>
                <div class="col-xs-12 pad-h-20 margin-b-20" style="margin-bottom: 20px;">
                    During the last 7 days, were there days (and if so, how many) when your household had to use any of the following strategies to cope with lack of food or money to buy it
                </div>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" placeholder="Relied on less preferred and/or less expensive food"
                               ng-model="section.csi_relied_on_less">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Relied on less preferred and/or less expensive food</label>
                        <validation-errors field="csi_relied_on_less" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-b-0 margin-b-10 pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" placeholder="Borrowed food, or relied on help from friends or relatives"
                               ng-model="section.csi_borrowed_food">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Borrowed food, or relied on help from friends or relatives</label>
                        <validation-errors field="csi_borrowed_food" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-b-0 margin-b-10 pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" placeholder="Reduced the number of meals eaten per day"
                               ng-model="section.csi_reduced_no_of_meals">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Reduced the number of meals eaten per day</label>
                        <validation-errors field="csi_reduced_no_of_meals" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-b-0 margin-b-10">
                    <div class="group">
                        <input type="number" placeholder="Reduced the portion size of meals"
                               ng-model="section.csi_reduced_portion_meal_size">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Reduced the portion size of meals</label>
                        <validation-errors field="csi_reduced_portion_meal_size" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-b-0 margin-b-10 pad-t-30">
                    <div class="group">
                        <br><br><br>
                        <input type="number" placeholder="Quantity of food consumption by adults/mothers"
                               ng-model="section.csi_quantity_for_adult">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="" style="top: -45px;">Reduced food consumption by adults/mothers to ensure children had enough to eat</label>
                        <validation-errors field="csi_quantity_for_adult" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of section -->
                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Coping Strategies')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Coping Strategies')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
