<ion-view view-title="{{ title}}">
  <div class="bar bar-subheader bar-stable">
    <h2 class="title">2/10 - Livestock</h2>
  </div>
  <ion-content class="has-subheader">
    <div class="list padding pad-t-30">
      <form>


        <div class="form-cont">
          <div class="group">
            <div class="col-xs-12">
              <span class="toggle-label">Does the household keep livestock?</span>
              <label class="toggle toggle-balanced">
                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="section.keep_livestock">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
              <validation-errors field="keep_livestock" valerrors="validation_errors">
              </validation-errors>
            </div>
          </div>
        </div>

        <div class="form-cont" ng-if="section.keep_livestock">
          <div class="group">
            <div class="col-xs-12">

              <div class="card">
                <div class="item item-divider">
                  Livestock production by species
                </div>
                <div class="item item-text-wrap" style="padding: 0px">


                  <div ng-repeat="animal in animals">
                    <md-card>
                      <md-card-header>
                        <md-card-header-text>
                          <span class="md-title">
                            <md-checkbox ng-model="section['Keep' + animal]" ng-true-value="1"
                                         ng-false-value="0">Do your rear {{animal}}?
                            </md-checkbox>
                            <validation-errors field="Keep{{animal}}" valerrors="validation_errors">
                            </validation-errors>
                          </span>
                        </md-card-header-text>
                      </md-card-header>

                      <md-card-content ng-if="section['Keep' + animal] === 1">


                        <div class="form-cont" ng-if="section['Keep' + animal]">
                          <div class="group">
                            <input type="number"
                                   placeholder="Number kept today" ng-model="section[animal + 'Kept']">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Number kept today</label>
                            <validation-errors field="{{animal}}Kept" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>
                        <div class="form-cont" ng-if="section['Keep' + animal]">
                          <div class="group">
                            <input type="number"
                                   placeholder="Number born during last 4 weeks"
                                   ng-model="section[animal + 'Born']">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Number born during last 4 weeks</label>
                            <validation-errors field="{{animal}}Born" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>
                        <div class="form-cont" ng-if="section['Keep' + animal]">
                          <div class="group">
                            <input type="number"
                                   placeholder="Number purchased during last 4 weeks"
                                   ng-model="section[animal + 'Purchased']">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Number purchased during last 4 weeks</label>
                            <validation-errors field="{{animal}}Purchased" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>
                        <div class="form-cont" ng-if="section['Keep' + animal]">
                          <div class="group">
                            <input type="number"
                                   placeholder="Number sold during last 4 weeks"
                                   ng-model="section[animal + 'Sold']">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Number sold during last 4 weeks</label>
                            <validation-errors field="{{animal}}Sold" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>
                        <div class="form-cont" ng-if="section['Keep' + animal] && section[animal + 'Sold'] > 0">
                          <div class="group">
                            <input type="number"
                                   placeholder="Average price per animal sold"
                                   ng-model="section[animal + 'Price']">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Average price per animal sold</label>
                            <validation-errors field="{{animal}}Price" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>
                        <div class="form-cont" ng-if="section['Keep' + animal] && section[animal + 'Sold'] > 0">
                          <div class="group">
                            <select class="no-border" ng-model="section[animal + 'Pos']">
                              <option value="" disabled selected hidden>
                                --Select Point of sale--
                              </option>
                              <option ng-value='1' ng-selected="section[animal + 'Pos'] == 1">Market</option>
                              <option ng-value='2' ng-selected="section[animal + 'Pos'] == 2">Farm Gate</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Point of Sale</label>
                            <validation-errors field="{{animal}}Pos" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>
                        <div class="form-cont" ng-if="section['Keep' + animal]">
                          <div class="group">
                            <br><br>
                            <input type="number"
                                   placeholder="Number died/slaughtered/lost during last 4 weeks"
                                   ng-model="section[animal + 'Died']">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="top--35">Number died/slaughtered/lost during last 4 weeks</label>
                            <validation-errors field="{{animal}}Died" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>
                        <div class="form-cont" ng-if="section['Keep' + animal] && section[animal + 'Died'] > 0">
                          <div class="group">
                            <select class="no-border" ng-model="section[animal + 'DeathReason']">
                              <option value="" disabled selected hidden>
                                --Select a reason--
                              </option>
                              <option ng-value="Disease">Disease</option>
                              <option ng-value="Starvation">Starvation</option>
                              <option ng-value="Dehydration">Dehydration</option>
                              <option ng-value="Rustling">Theft/Rustling</option>
                              <option ng-value="Predation">Predation</option>
                              <option ng-value="Slaughter">Slaughter</option>
                              <option ng-value="Other">Other</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Main reason for the loss</label>
                            <validation-errors field="{{animal}}DeathReason" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>
                        <div class="form-cont" ng-if="section['Keep' + animal]">
                          <div class="group" ng-if="section[animal + 'DeathReason'] === 'Other'">
                            <input type="text" required
                                   placeholder="Enter other reason for the death"
                                   ng-model="section[animal + 'OtherReason']">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Other reason for the death</label>
                            <validation-errors field="{{animal}}OtherReason" valerrors="validation_errors">
                            </validation-errors>
                          </div>
                        </div>

                      </md-card-content>
                    </md-card>

                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>



        <!--Section on milking animals-->

        <div class="form-cont">
          <div class="group">
            <div class="col-xs-12">
              <span class="toggle-label">Did the household milk any animals in the last 4 weeks?</span>
              <label class="toggle toggle-balanced">
                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="section.milked_animals">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
              <validation-errors field="milked_animals" valerrors="validation_errors">
              </validation-errors>
            </div>
          </div>
        </div>

        <div>

        </div>

        <div class="form-cont" ng-if="section.milked_animals === 1">
          <div class="group">
            <div class="col-xs-12">


              <div class="card">
                <div class="item item-divider">
                  Milk production by livestock species
                </div>
                <div class="item item-text-wrap" style="padding: 0px">

                  <div ng-repeat="animal in milk_animals">
                    <md-card>
                      <md-card-header>
                        <md-card-header-text>
                          <span class="md-title">
                            <md-checkbox ng-model="section['milked_' + animal.field_name]" ng-true-value="1"
                                         ng-false-value="0">Did the household milk {{animal.verbose_name}}?
                            </md-checkbox>
                            <validation-errors field="milked_{{animal.field_name}}" valerrors="validation_errors">
                          </validation-errors>
                          </span>
                        </md-card-header-text>
                      </md-card-header>

                      <md-card-content ng-if="section['milked_' + animal.field_name]">
                        <div class="group">
                          <input type="number"
                                 placeholder="Amount milked" ng-model="section[animal.field_name + '_amount_milked']">
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Amount milked in litres</label>
                          <validation-errors field="{{animal.field_name}}_amount_milked" valerrors="validation_errors">
                          </validation-errors>
                        </div>

                        <div class="group">
                          <input type="number"
                                 placeholder="Amount consumed"
                                 ng-model="section[animal.field_name + '_amount_consumed']">
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Amount consumed in litres</label>
                          <validation-errors field="{{animal.field_name}}_amount_consumed"
                                             valerrors="validation_errors">
                          </validation-errors>
                        </div>

                        <div class="group">
                          <input type="number"
                                 placeholder="Amount sold" ng-model="section[animal.field_name + '_amount_sold']">
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Amount sold in litres</label>
                          <validation-errors field="{{animal.field_name}}_amount_sold" valerrors="validation_errors">
                          </validation-errors>
                        </div>

                        <div class="group" ng-if="section[animal.field_name + '_amount_sold'] > 0">
                          <input type="number"
                                 placeholder="Price per litre" ng-model="section[animal.field_name + '_milk_price']">
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Average price of milk per Liters in (Ksh)s</label>
                          <validation-errors field="{{animal.field_name}}_milk_price" valerrors="validation_errors">
                          </validation-errors>
                        </div>

                      </md-card-content>
                    </md-card>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


        <!--End of section on milking animals-->


        <!-- End of checkboxes -->
        <div class="form-cont margin-t-40">
          <div class="group">
            <select class="no-border" ng-model="section.who_drank_milk">
              <option value="Children under 5 years">
                Children under 5 years
              </option>
              <option value="Breast feeding mothers">
                Breast feeding mothers
              </option>
              <option value="Sick children and women">
                Sick children and women
              </option>
              <option value="Elders">
                Elders
              </option>
              <option value="Everyone in the household">
                Everyone in the household
              </option>
              <option value="">
                None
              </option>
            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Who consumed milk in last 7 days</label>
            <validation-errors field="who_drank_milk" valerrors="validation_errors">
            </validation-errors>
          </div>
        </div>
        <div class="form-cont margin-t-40" ng-if="section.who_drank_milk !== ''">
          <div class="group">
            <br><br>
            <select class="no-border" ng-model="section.milk_source">
              <option value="Own livestock production">
                Own livestock production
              </option>
              <option value="Purchase">
                Purchase
              </option>
              <option value="Shared">
                Shared
              </option>
              <option value="Relief/Supplementary (powder milk inclusive)">
                Relief/Supplementary (powder milk inclusive)
              </option>
              <option value="">
                Not Applicable
              </option>
            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="top--35">What was the source of milk consumed in the household?</label>
            <validation-errors field="milk_source" valerrors="validation_errors">
            </validation-errors>
          </div>
        </div>
        <!-- Buttons container -->
        <div class="form-cont">
          <div class="col-xs-4">
            <a class="button button-stable button-block"
               ng-click="onPrevious('Livestock')">
              <i class="icon ion-chevron-left"></i> BACK
            </a>
          </div>
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4">
            <a class="button button-balanced button-block"
               ng-click="onSubmit('Livestock')">
              NEXT <i class="icon ion-chevron-right"></i>
            </a>
          </div>
        </div>
      </form>
    </div>
  </ion-content>

</ion-view>
