<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">1/10 - Background Information</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form name="bg_form">
                <div class="form-cont">
                    <div class="group">
                        <select class="no-border pad-t-30" disabled ng-model="section.county" ng-change="onSubCountySelected()">
                            <option value="" disabled selected hidden>
                                --Select County--
                            </option>
                            <option ng-repeat="county in counties">{{county.wording}}</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>County</label>
                        <validation-errors field="county" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="section.sub_county" ng-change="onSubCountySelected()">
                            <option value="" disabled selected hidden>
                                --Select Sub County--
                            </option>
                            <option ng-repeat="subCounty in subCounties">{{subCounty.wording}}</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Sub County</label>
                        <validation-errors field="sub_county" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="section.site" ng-change="onSentinelSiteSelected()" ng-options="sentinelSite.id as sentinelSite.wording for sentinelSite in sentinelSites">
                            <option value="" disabled selected hidden>
                                --Select Ward/Sentinel Site--
                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Ward / Sentinel Site</label>
                        <validation-errors field="site" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont">
                    <div class="group">
                        <select class="no-border pad-t-30" ng-disabled="!livelihoodZoneEditable" ng-model="section.livelihood_zone" ng-change="onSentinelSiteSelected()" ng-options="livelihoodZone.id as livelihoodZone.wording for livelihoodZone in livelihoodZones">
                            <option value="" disabled selected hidden>
                                --Select Livelihood Zone--
                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Livelihood Zone</label>
                        <validation-errors field="livelihood_zone" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="section.household_code" ng-change="onHouseholdSelected()">
                            <option value="" disabled selected hidden>
                                --Select Household Code--
                            </option>
                            <option ng-repeat="household in households">{{household.wording}}</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Household Code</label>
                        <validation-errors field="household_code" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="date" ng-model="section.interview_date">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Interview Date (DD/MM/YYYY)</label>
                        <validation-errors field="interview_date" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="text" required
                               placeholder="Enter the name of the Household Head"
                               name="household_head_name"
                               ng-model="section.household_name">
                        <span class="highlight"></span>
                        <label>Name of Household Head</label>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name of Household Head</label>
                        <validation-errors field="household_name" valerrors="validation_errors">
                        </validation-errors>

                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="section.head_gender">
                            <option value="" disabled selected hidden>
                                --Select Gender of Household Head--
                            </option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Gender of Household Head </label>
                        <validation-errors field="head_gender" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="section.head_education_level">
                            <option value="" disabled selected hidden>
                                --Select Level of Education of Household Head--
                            </option>
                            <option value="1. Primary">1. Primary</option>
                            <option value="2. Secondary">2. Secondary</option>
                            <option value="3. Technical Training">3. Technical Training</option>
                            <option value="4. University">4. University</option>
                            <option value="None">5. No education</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Education Level of Household Head</label>
                        <validation-errors field="head_education_level" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="section.household_main_income_source">
                            <option value="" disabled selected hidden>
                                --Select Main source of income for the household--
                            </option>
                            <option value="1. Employment/Salary">1. Employment/Salary</option>
                            <option value="2. Sale of livestock and livestock products">2. Sale of livestock and livestock products</option>
                            <option value="3. Sale of crops">3. Sale of crops</option>
                            <option value="4. Casual labour">4. Casual labour</option>
                            <option value="5. Trade">5. Trade</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Main source of income for household</label>
                        <validation-errors field="household_main_income_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="text" required
                               placeholder="Enter the name of the respondent"
                               ng-model="section.respondent_name">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name of Respondent</label>
                        <validation-errors field="respondent_name" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="section.respondent_gender">
                            <option value="" disabled selected hidden>
                                --Select Gender of Respondent--
                            </option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Gender of Respondent</label>
                        <validation-errors field="respondent_gender" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" required
                               ng-model="section.male_members"
                               placeholder="Enter the total number of male member(adults and children)">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Total Number of MALE members(Adults and Children)</label>
                        <validation-errors field="male_members" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" required
                               ng-model="section.female_members"
                               placeholder="Enter the total number of female member(adults and children)">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Total Number of FEMALE members(Adults and Children)</label>
                        <validation-errors field="female_members" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont">
                    <div class="group">
                        <input type="number" required
                               placeholder="Enter the number of children under 5 years"
                               ng-model="section.children_below5">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Number of Children under 5 years</label>
                        <validation-errors field="children_below5" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Background')">
                            <i class="icon ion-chevron-left"></i> CANCEL
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Background')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
