<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">9/10 - Nutrition and Household Food Consumption</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>
                <div class="col-xs-12 pad-h-20 margin-b-10">
                    How many days over the last 7 days, did members of your household eat the following food items, prepared and/or consumed at home , and what was their source?
                    <b>(Use codes below, write 0 if not consumed in last 7 days)</b>
                </div>
                <div class="col-xs-12 pad-h-20 margin-b-10">
                    <b>Note for enumerator: Determine whether consumption of fish, milk was only in small quantities.</b>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Cereals and tubers: Maize, Maize Poridge, Rice,
                                    sorghum, millet pasta, bread and other cereals,
                                    cassava, potatoes and sweet potatoes.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_grain_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_grain_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-10" ng-if="section.hfc_grain_days && section.hfc_grain_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_grain_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_grain_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- NUTS -->
                <div class="form-cont">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Pulses/nuts: Beans, peas, groundnuts and cashewnuts
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_pulses_nuts_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_pulses_nuts_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-10" ng-if="section.hfc_pulses_nuts_days && section.hfc_pulses_nuts_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_pulses_nuts_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_pulses_nuts_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of nuts -->
                <!-- VEGETABLES -->
                <div class="form-cont">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Vegetables: Vegetables and leaves
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_other_veg_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_other_veg_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-10" ng-if="section.hfc_other_veg_days && section.hfc_other_veg_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_other_veg_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_other_veg_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of vegetables -->
                <!-- FRUITS -->
                <div class="form-cont">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Fruits
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_other_fruits_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_other_fruits_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-10" ng-if="section.hfc_other_fruits_days && section.hfc_other_fruits_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_other_fruits_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_other_fruits_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of fruits -->
                <!-- MEAT AND FISH -->
                <div class="form-cont">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Meat and Fish:Beaf,goat,poultry,pork,eggsand fish
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_meat_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_meat_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-10" ng-if="section.hfc_meat_days && section.hfc_meat_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_meat_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_meat_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of meat and fish -->
                <!-- MILK -->
                <div class="form-cont">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Milk:Milk,Yoghurt and other diary
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_milk_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_milk_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-10" ng-if="section.hfc_milk_days && section.hfc_milk_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_milk_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_milk_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of milk -->
                <!-- SUGAR -->
                <div class="form-cont">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Sugar: Sugar and sugar products
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_sugar_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_sugar_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont  pad-t-10" ng-if="section.hfc_sugar_days && section.hfc_sugar_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_sugar_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_sugar_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of sugar -->
                <!-- OILS -->
                <div class="form-cont">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Oil:Oils,fats and butter
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_oil_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_oil_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-10" ng-if="section.hfc_oil_days && section.hfc_oil_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_oil_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_oil_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of oils -->
                <!-- CONDIMENTS -->
                <div class="form-cont">
                    <div class="section-title">
                        <ul class="checklist">
                            <li class="full-width">
                                <div class="col-xs-12 pad-h-0 margin-b-10">
                                    Condiments / spices: Tea, coffee, cocoa, salt, garlic, spices, yeast, baking powder, tomato sauce, meat or fish in very small quantities as condiments?
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-cont pad-t-30">
                    <div class="group">
                        <select class="no-border" ng-model="section.hfc_condiments_days" ng-options="number_of_days as number_of_days for number_of_days in zero_to_seven">
                            <option value="">--Select between 0 to 7--</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Number of days eaten in past 7 days
                        </label>
                        <validation-errors field="hfc_condiments_days" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-10" ng-if="section.hfc_condiments_days && section.hfc_condiments_days !== '0'">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="section.hfc_condiments_source" ng-options="food_source.code as food_source.name for food_source in food_sources">
                            <option value="">-- Select main source --</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">
                            What was the main food source for past 7 days
                        </label>
                        <validation-errors field="hfc_condiments_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- End of condiments -->
                <!-- End of section -->
                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Nutrition')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Nutrition')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
