<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">7/10 - Prices of Food Commodities (At Market Level)</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="survey.commodity_market_name">
                            <option value="" disabled selected hidden>
                                --Select Market--
                            </option>
                            <option ng-repeat="market in markets">{{market.wording}}</option>
                        </select>                         <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Name of the market (Enumerator to write name of the market data collected from)</label>
                        <validation-errors field="commodity_market_name" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>


                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Has the market been operating normally?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="survey.is_commodity_market_normal_operation">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="is_commodity_market_normal_operation" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>



                <div class="form-cont" ng-if="!survey.is_commodity_market_normal_operation">
                    <div class="group">
                        <select class="no-border" ng-model="survey.commodity_market_main_reason">
                            <option value="" disabled selected hidden>
                                --Select a reason below--
                            </option>
                            <option value="Conflicts/Insecurity" ng-selected="survey.commodity_market_main_reason === 'Conflicts/Insecurity'">Conflicts/Insecurity</option>
                            <option value="Poor Infrastructure" ng-selected="survey.commodity_market_main_reason === 'Conflicts/Insecurity'">Poor Infrastructure</option>
                            <option value="Trader numbers" ng-selected="survey.commodity_market_main_reason === 'Conflicts/Insecurity'">Trader numbers</option>
                            <option value="Market closure" ng-selected="survey.commodity_market_main_reason === 'Market closure'">Market closure</option>
                            <option value="Cereals not readily available" ng-selected="survey.commodity_market_main_reason === 'Cereals not readily available'">Cereals not readily available</option>
                            <option value="Other" ng-selected="survey.commodity_market_main_reason === 'Other'">Other</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>If No, what is the main reason?</label>
                        <validation-errors field="commodity_market_main_reason" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Were cereals readily available in the market?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="survey.cereals_readily_available">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="cereals_readily_available" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>



                <div class="col-xs-12 pad-h-20 top--35">
                    Indicate current price of the following food commodities in the market(Kshs)?
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.maize_price"
                               placeholder="Price of maize per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Maize per Kg</label>
                        <validation-errors field="maize_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.posho_price"
                               placeholder="Price of posho per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Posho (locally milled maize) per Kg</label>
                        <validation-errors field="posho_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <br><br>
                        <input type="number" step="any" string-to-number required ng-model="survey.sifted_maize_price"
                               placeholder="Price of sifted maize per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Sifted Maize Meal per Kg (e.g. Jogoo -record price for cheapest brand)</label>
                        <validation-errors field="sifted_maize_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.millet_price"
                               placeholder="Price of millet per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Millet per Kg</label>
                        <validation-errors field="millet_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.rice_price"
                               placeholder="Price of rice per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Rice per Kg</label>
                        <validation-errors field="rice_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.sorghum_price"
                               placeholder="Price of Sorghum per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Sorghum per Kg</label>
                        <validation-errors field="sorghum_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.beans_price"
                               placeholder="Price of Beans per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Bean per Kg</label>
                        <validation-errors field="beans_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.green_grams_price"
                               placeholder="Price of Green grams per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Green grams per Kg</label>
                        <validation-errors field="green_grams_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.cow_peas_price"
                               placeholder="Price of Cow Peas per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Cow peas per Kg</label>
                        <validation-errors field="cow_peas_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.pigeon_peas_price"
                               placeholder="Price of Pigeon peas per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Pigeon peas per Kg</label>
                        <validation-errors field="pigeon_peas_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.sugar_price"
                               placeholder="Price of sugar per kg...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Sugar per Kg</label>
                        <validation-errors field="sugar_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.cooking_oil_price"
                               placeholder="Price of Cooking oil/fat per Ltr...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Cooking oil/fat per Ltr</label>
                        <validation-errors field="cooking_oil_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <input type="number" step="any" string-to-number required ng-model="survey.milk_price"
                               placeholder="Price of Milk per Ltr...">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">Unprocessed mil per Ltr</label>
                        <validation-errors field="milk_price" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Prices of Food Commodities')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Prices of Food Commodities')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>

</ion-view>
