<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">4/10 - Forage Condition</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <select class="no-border" ng-model="survey.pasture_condition">
                            <option value="" disabled selected hidden>
                                --Select an option below--
                            </option>
                            <option value="Good" ng-selected="survey.pasture_condition === 'Good'">Good</option>
                            <option value="Fair" ng-selected="survey.pasture_condition === 'Fair'">Fair</option>
                            <option value="Poor" ng-selected="survey.pasture_condition === 'Poor'">Poor</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">What is the pasture condition at this time of the year?</label>
                        <validation-errors field="pasture_condition" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="survey.pasture_condition_compared_to_similar_time">
                            <option value="" disabled selected hidden>
                                --Select an option below--
                            </option>
                            <option value="Above Normal" ng-selected="survey.pasture_condition_compared_to_similar_time === 'Above Normal'">Above Normal</option>
                            <option value="Normal" ng-selected="survey.pasture_condition_compared_to_similar_time === 'Normal'">Normal</option>
                            <option value="Below Normal" ng-selected="survey.pasture_condition_compared_to_similar_time === 'Below Normal'">Below Normal</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">How is the pasture condition compared to similar time in a normal year?</label>
                        <validation-errors field="pasture_condition_compared_to_similar_time" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-20">
                    <div class="group">
                        <input type="number" step="any" placeholder="No. of months available pasture expected to last" ng-model="survey.pasture_lasting_period_in_months">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">How long is available pasture projected to last (months)</label>
                        <validation-errors field="pasture_lasting_period_in_months" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="survey.browse_condition">
                            <option value="" disabled selected hidden>
                                --Select an option below--
                            </option>
                            <option value="Good" ng-selected="survey.browse_condition === 'Good'">Good</option>
                            <option value="Fair" ng-selected="survey.browse_condition === 'Fair'">Fair</option>
                            <option value="Poor" ng-selected="survey.browse_condition === 'Poor'">Poor</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>What is the browse condition?</label>
                        <validation-errors field="browse_condition" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="survey.browse_condition_compared_to_similar_time">
                            <option value="" disabled selected hidden>
                                --Select an option below--
                            </option>
                            <option value="Above Normal" ng-selected="survey.browse_condition_compared_to_similar_time === 'Above Normal'">Above Normal</option>
                            <option value="Normal" ng-selected="survey.browse_condition_compared_to_similar_time === 'Normal'">Normal</option>
                            <option value="Below Normal" ng-selected="survey.browse_condition_compared_to_similar_time === 'Below Normal'">Below Normal</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>How is the browse condition compared to similar time in a normal year?</label>
                        <validation-errors field="browse_condition_compared_to_similar_time" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" step="any" placeholder="No. of months available browse expected to last" ng-model="survey.browse_condition_lasting_period">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">How long is the available browse projected to last? (months)</label>
                        <validation-errors field="browse_condition_lasting_period" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>


                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Was there a constraint(s) in accessing forage in the last 4 weeks?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="survey.constraint_accessing_forage">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="constraint_accessing_forage" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>




                <div class="form-cont" ng-if="survey.constraint_accessing_forage">
                    <div class="group">
                        <select class="no-border" ng-model="survey.main_constraint_accessing_forage">
                            <option value="" disabled selected hidden>
                                --Select the main reason below--
                            </option>
                            <option value="Insecurity" ng-selected="survey.main_constraint_accessing_forage === 'Insecurity'">Insecurity</option>
                            <option value="Disease" ng-selected="survey.main_constraint_accessing_forage === 'Disease'">Disease</option>
                            <option value="Lack of water" ng-selected="survey.main_constraint_accessing_forage === 'Lack of water'">Lack of water</option>
                            <option value="Wildlife" ng-selected="survey.main_constraint_accessing_forage === 'Wildlife'">Wildlife</option>
                            <option value="Pests" ng-selected="survey.main_constraint_accessing_forage === 'Pests'">Pests</option>
                            <option value="Others" ng-selected="survey.main_constraint_accessing_forage === 'Others'">Others</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Select the main reason below?</label>
                        <validation-errors field="main_constraint_accessing_forage" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Forage Condition')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Forage Condition')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>

</ion-view>
