<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">9/10 - Livestock Production</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>
                <div class="form-cont">
                    <div class="group">
                        <select class="no-border" ng-model="survey.livestock_body_condition">
                            <option value="" disabled selected hidden>
                                --Select an option below--
                            </option>
                            <option value="Good smooth appearance" ng-selected="survey.livestock_body_condition === 'Good smooth appearance'">Good smooth appearance</option>
                            <option value="Moderate neither fat nor thin" ng-selected="survey.livestock_body_condition === 'Moderate neither fat nor thin'">Moderate neither fat nor thin</option>
                            <option value="Border lines, fore ribs not visible 12th & 13th ribs visible" ng-selected="survey.livestock_body_condition === 'Border lines, fore ribs not visible 12th & 13th ribs visible'">Border lines, fore ribs not visible 12th & 13th ribs visible</option>
                            <option value="Thin fore ribs visible" ng-selected="survey.livestock_body_condition === 'Thin fore ribs visible'">Thin fore ribs visible</option>
                            <option value="Emaciated, bones visible" ng-selected="survey.livestock_body_condition === 'Emaciated, bones visible'">Emaciated, bones visible</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>What is the status of livestock body condition?</label>
                        <validation-errors field="livestock_body_condition" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>


                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Is this normal at this time of the year?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="survey.is_livestock_body_condition_normal">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="is_livestock_body_condition_normal" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>


                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Have there been reported cases/outbreaks of livestock disease(s) in the last 4 weeks?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="survey.livestock_disease_outbreak">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="livestock_disease_outbreak" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>

                <div ng-if="survey.livestock_disease_outbreak">
                    <div class="col-xs-12 pad-h-20">
                        If Yes, which major disease(s) was reported?
                    </div>
                    <div class="form-cont pad-t-15">
                        <div class="group">
                            <select class="no-border" ng-model="survey.livestock_major_diseases1">
                                <option value="" disabled selected hidden>
                                    --Select an option below--
                                </option>
                                <option value="Foot & Mouth" ng-selected="survey.livestock_major_diseases1 === 'Foot & Mouth'">Foot & Mouth</option>
                                <option value="LSD" ng-selected="survey.livestock_major_diseases1 === 'LSD'">LSD</option>
                                <option value="CBPP" ng-selected="survey.livestock_major_diseases1 === 'CBPP'">CBPP</option>
                                <option value="CCPP" ng-selected="survey.livestock_major_diseases1 === 'CCPP'">CCPP</option>
                                <option value="Newcastle" ng-selected="survey.livestock_major_diseases1 === 'Newcastle'">Newcastle</option>
                                <option value="PPR" ng-selected="survey.livestock_major_diseases1 === 'PPR'">PPR</option>
                                <option value="Other" ng-selected="survey.livestock_major_diseases1 === 'Other'">Other</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Major disease 1</label>
                            <validation-errors field="livestock_major_diseases1" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>

                    <div class="form-cont pad-t-15">
                        <div class="group">
                            <select class="no-border" ng-model="survey.livestock_major_diseases2">
                                <option value="" disabled selected hidden>
                                    --Select an option below--
                                </option>
                                <option value="" ng-selected="survey.livestock_major_diseases2 === ''">N/A</option>
                                <option value="Foot & Mouth" ng-selected="survey.livestock_major_diseases2 === 'Foot & Mouth'">Foot & Mouth</option>
                                <option value="LSD" ng-selected="survey.livestock_major_diseases2 === 'LSD'">LSD</option>
                                <option value="CBPP" ng-selected="survey.livestock_major_diseases2 === 'CBPP'">CBPP</option>
                                <option value="CCPP" ng-selected="survey.livestock_major_diseases2 === 'CCPP'">CCPP</option>
                                <option value="Newcastle" ng-selected="survey.livestock_major_diseases2 === 'Newcastle'">Newcastle</option>
                                <option value="PPR" ng-selected="survey.livestock_major_diseases2 === 'PPR'">PPR</option>
                                <option value="Other" ng-selected="survey.livestock_major_diseases2 === 'Other'">Other</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Major disease 2</label>
                            <validation-errors field="livestock_major_diseases2" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>

                    <div class="form-cont pad-t-15">
                        <div class="group">
                            <select class="no-border" ng-model="survey.livestock_major_diseases3">
                                <option value="" disabled selected hidden>
                                    --Select an option below--
                                </option>
                                <option value="" ng-selected="survey.livestock_major_diseases3 === ''">N/A</option>
                                <option value="Foot & Mouth" ng-selected="survey.livestock_major_diseases3 === 'Foot & Mouth'">Foot & Mouth</option>
                                <option value="LSD" ng-selected="survey.livestock_major_diseases3 === 'LSD'">LSD</option>
                                <option value="CBPP" ng-selected="survey.livestock_major_diseases3 === 'CBPP'">CBPP</option>
                                <option value="CCPP" ng-selected="survey.livestock_major_diseases3 === 'CCPP'">CCPP</option>
                                <option value="Newcastle" ng-selected="survey.livestock_major_diseases3 === 'Newcastle'">Newcastle</option>
                                <option value="PPR" ng-selected="survey.livestock_major_diseases3 === 'PPR'">PPR</option>
                                <option value="Other" ng-selected="survey.livestock_major_diseases3 === 'Other'">Other</option>
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Major disease 3</label>
                            <validation-errors field="livestock_major_diseases3" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>

                </div>

                <div class="form-cont">
                    <div class="group">
                        <br><br>
                        <select class="no-border" ng-model="survey.livestock_vaccinated_diseases">
                            <option value="" disabled selected hidden>
                                --Select an option below--
                            </option>
                            <option value="" ng-selected="survey.livestock_vaccinated_diseases === ''">N/A</option>
                            <option value="Foot & Mouth" ng-selected="survey.livestock_vaccinated_diseases === 'Foot & Mouth'">Foot & Mouth</option>
                            <option value="CBPP" ng-selected="survey.livestock_vaccinated_diseases === 'CBPP'">CBPP</option>
                            <option value="Anthrax" ng-selected="survey.livestock_vaccinated_diseases === 'Anthrax'">Anthrax</option>
                            <option value="Newcastle" ng-selected="survey.livestock_vaccinated_diseases === 'Newcastle'">Newcastle</option>
                            <option value="CCPP" ng-selected="survey.livestock_vaccinated_diseases === 'CCPP'">CCPP</option>
                            <option value="Worms" ng-selected="survey.livestock_vaccinated_diseases === 'Worms'">Worms</option>
                            <option value="LSD" ng-selected="survey.livestock_vaccinated_diseases === 'LSD'">LSD</option>
                            <option value="PPR" ng-selected="survey.livestock_vaccinated_diseases === 'PPR'">PPR</option>
                            <option value="Other" ng-selected="survey.livestock_vaccinated_diseases === 'Other'">Other</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Against what disease(s) have the livestock been vaccinated or treated in the last 4 week?</label>
                        <validation-errors field="livestock_vaccinated_diseases" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>



                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Livestock Production')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Livestock Production')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>

</ion-view>
