<ion-view view-title="{{ title}}">
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">3/10 - Water Resources</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list padding pad-t-30">
            <form>

                <div class="col-xs-12 pad-h-20 pad-b-10">
                    What were the main water sources for the
                    community over the last 4 weeks <b>(Refer to 3 most common)</b>
                </div>
                <div class="form-cont pad-t-15">
                    <div class="group">
                        <select class="no-border" ng-model="survey.main_water_source1">
                            <option value="" disabled selected hidden>
                                --Select main water source 1--
                            </option>
                            <option value="Rivers" ng-selected="survey.main_water_source1 === 'Rivers'">Rivers</option>
                            <option value="Traditional river wells" ng-selected="survey.main_water_source1 === 'Traditional river wells'">Traditional river wells</option>
                            <option value="Natural ponds" ng-selected="survey.main_water_source1 === 'Natural ponds'">Natural ponds</option>
                            <option value="Pans and dams" ng-selected="survey.main_water_source1 === 'Pans and dams'">Pans and dams</option>
                            <option value="Shallow wells" ng-selected="survey.main_water_source1 === 'Shallow wells'">Shallow wells</option>
                            <option value="Boreholes" ng-selected="survey.main_water_source1 === 'Boreholes'">Boreholes</option>
                            <option value="Springs" ng-selected="survey.main_water_source1 === 'Springs'">Springs</option>
                            <option value="Lakes" ng-selected="survey.main_water_source1 === 'Lakes'">Lakes</option>
                            <option value="Rock catchments" ng-selected="survey.main_water_source1 === 'Rock catchments'">Rock catchments</option>
                            <option value="Piped water system" ng-selected="survey.main_water_source1 === 'Piped water system'">Piped water system</option>
                            <option value="Water trucking" ng-selected="survey.main_water_source1 === 'Water trucking'">Water trucking</option>
                            <option value="Others" ng-selected="survey.main_water_source1 === 'Others'">Others</option>

                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Water source 1</label>
                        <validation-errors field="main_water_source1" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont pad-t-15">
                    <div class="group">
                        <select class="no-border" ng-model="survey.main_water_source2">
                            <option value="" disabled selected hidden>
                                --Select main water source 2--
                            </option>
                            <option value="" ng-selected="survey.main_water_source2 === 'N/A'">N/A</option>
                            <option value="Rivers" ng-selected="survey.main_water_source2 === 'Rivers'">Rivers</option>
                            <option value="Traditional river wells" ng-selected="survey.main_water_source2 === 'Traditional river wells'">Traditional river wells</option>
                            <option value="Natural ponds" ng-selected="survey.main_water_source2 === 'Natural ponds'">Natural ponds</option>
                            <option value="Pans and dams" ng-selected="survey.main_water_source2 === 'Pans and dams'">Pans and dams</option>
                            <option value="Shallow wells" ng-selected="survey.main_water_source2 === 'Shallow wells'">Shallow wells</option>
                            <option value="Boreholes" ng-selected="survey.main_water_source2 === 'Boreholes'">Boreholes</option>
                            <option value="Springs" ng-selected="survey.main_water_source2 === 'Springs'">Springs</option>
                            <option value="Lakes" ng-selected="survey.main_water_source2 === 'Lakes'">Lakes</option>
                            <option value="Rock catchments" ng-selected="survey.main_water_source2 === 'Rock catchments'">Rock catchments</option>
                            <option value="Piped water system" ng-selected="survey.main_water_source2 === 'Piped water system'">Piped water system</option>
                            <option value="Water trucking" ng-selected="survey.main_water_source2 === 'Water trucking'">Water trucking</option>
                            <option value="Others" ng-selected="survey.main_water_source2 === 'Others'">Others</option>

                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Water source 2</label>
                        <validation-errors field="main_water_source2" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont pad-t-15">
                    <div class="group">
                        <select class="no-border" ng-model="survey.main_water_source3">
                            <option value="" disabled selected hidden>
                                --Select main water source 3--
                            </option>
                            <option value="" ng-selected="survey.main_water_source3 === 'N/A'">N/A</option>
                            <option value="Rivers" ng-selected="survey.main_water_source3 === 'Rivers'">Rivers</option>
                            <option value="Traditional river wells" ng-selected="survey.main_water_source3 === 'Traditional river wells'">Traditional river wells</option>
                            <option value="Natural ponds" ng-selected="survey.main_water_source3 === 'Natural ponds'">Natural ponds</option>
                            <option value="Pans and dams" ng-selected="survey.main_water_source3 === 'Pans and dams'">Pans and dams</option>
                            <option value="Shallow wells" ng-selected="survey.main_water_source3 === 'Shallow wells'">Shallow wells</option>
                            <option value="Boreholes" ng-selected="survey.main_water_source3 === 'Boreholes'">Boreholes</option>
                            <option value="Springs" ng-selected="survey.main_water_source3 === 'Springs'">Springs</option>
                            <option value="Lakes" ng-selected="survey.main_water_source3 === 'Lakes'">Lakes</option>
                            <option value="Rock catchments" ng-selected="survey.main_water_source3 === 'Rock catchments'">Rock catchments</option>
                            <option value="Piped water system" ng-selected="survey.main_water_source3 === 'Piped water system'">Piped water system</option>
                            <option value="Water trucking" ng-selected="survey.main_water_source3 === 'Water trucking'">Water trucking</option>
                            <option value="Others" ng-selected="survey.main_water_source3 === 'Others'">Others</option>

                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Water source 3</label>
                        <validation-errors field="main_water_source3" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>


                <div class="form-cont">
                    <div class="group">
                        <div class="col-xs-12">
                            <span class="toggle-label">Are/Is this the main source for this period/month of the year?</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="survey.is_normal_main_source">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                            <validation-errors field="is_normal_main_source" valerrors="validation_errors">
                            </validation-errors>
                        </div>
                    </div>
                </div>


                <div class="form-cont" ng-if="!survey.is_normal_main_source">
                    <div class="group">
                        <select class="no-border" ng-model="survey.why_not_main_source">
                            <option value="" disabled selected hidden>
                                --Select reason why they/it isn't normal main source--
                            </option>
                            <option value="Breakdown of water source" ng-selected="survey.why_not_main_source === 'Breakdown of water source'">
                                Breakdown of water source
                            </option>
                            <option value="Drying up of source" ng-selected="survey.why_not_main_source === 'Drying up of source'">
                                Drying up of source
                            </option>
                            <option value="Conflict/Insecurity" ng-selected="survey.why_not_main_source === 'Conflict/Insecurity'">
                                Conflict/Insecurity
                            </option>
                            <option value="Water Quality" ng-selected="survey.why_not_main_source === 'Water Quality'">
                                Water Quality
                            </option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>If No, why?</label>
                        <validation-errors field="why_not_main_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont">
                    <div class="group">
                        <br><br>
                        <input type="number" string-to-float step="any" placeholder="Distance to the main water source in Kms" ng-model="survey.distance_to_main_source">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>The distance (one way) to the main source of water (in Kms)</label>
                        <validation-errors field="distance_to_main_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>


                <div class="col-xs-12 pad-h-20">
                    In the last 7 days how many days have livestock been watered?
                </div>
                <div class="form-cont pad-t-15">
                    <div class="group">
                        <input type="number" step="1"
                               placeholder="Number of days cattle watered" ng-model="survey.cattle_frequency">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Number of days cattle watered</label>
                        <validation-errors field="cattle_frequency" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-15">
                    <div class="group">
                        <input type="number"  step="1"
                               placeholder="Number of days camels watered" ng-model="survey.camel_frequency">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Number of days camels watered</label>
                        <validation-errors field="camel_frequency" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-15">
                    <div class="group">
                        <input type="number"  step="1"
                               placeholder="Number of days goats watered" ng-model="survey.goats_frequency">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Number of days goats watered</label>
                        <validation-errors field="goats_frequency" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>
                <div class="form-cont pad-t-15">
                    <div class="group">
                        <input type="number"  step="1"
                               placeholder="Number of days sheep watered" ng-model="survey.sheep_frequency">
                        <span class ="highlight"></span>
                        <span class="bar"></span>
                        <label>Number of sheep watered</label>
                        <validation-errors field="sheep_frequency" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont pad-t-30">
                    <div class="group">
                        <br><br>
                        <input type="number" ng-model="survey.main_sources_lasting_period"
                               placeholder="Current main sources of water expected to last in days">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">How long are the current main sources of water expected to last (Days)?</label>
                        <validation-errors field="main_sources_lasting_period" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>




                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" step="any" min="0" string-to-float  placeholder="Distance to the main water source in Kms" ng-model="survey.return_distance_to_water_source">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">What's the distance one way to the main  water source in Kms (for households)</label>
                        <validation-errors field="return_distance_to_water_source" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <div class="form-cont pad-t-20">
                    <div class="group">
                        <br><br>
                        <input type="number" step="any" string-to-float placeholder="Distance to the main water source in Kms" ng-model="survey.grazing_area_distance">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="top--35">What is the distance (ONE WAY) to the main source of water  (from the grazing area) in Kms?</label>
                        <validation-errors field="grazing_area_distance" valerrors="validation_errors">
                        </validation-errors>
                    </div>
                </div>

                <!-- End of section -->
                <!-- Buttons container -->
                <div class="form-cont">
                    <div class="col-xs-4">
                        <a class="button button-stable button-block"
                           ng-click="onPrevious('Water Resources')">
                            <i class="icon ion-chevron-left"></i> BACK
                        </a>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-balanced button-block"
                           ng-click="onSubmit('Water Resources')">
                            NEXT <i class="icon ion-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
